div{
    width: 700px;
    margin: 50px auto;
    text-align: center;
}

img{
    height: 350px;
}

h1{
    border-style: solid;
    border-color: rgb(80, 75, 75);
    padding: 8px;
    color:  rgb(103, 96, 96);
    border-width: 4px;
    margin: 48px auto;
    font-family:Verdana;
    font-size: 35px;
}

h2{
    color: gray;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
}

h3{
    border-top: solid 2px;
    border-bottom: solid 3px;   
    color: gray;
    font-weight: 900;
    padding: 15px;
}

p{
    font-size: 20px;
    text-align: justify;
    line-height: 40px;
    color: rgb(95, 91, 91);
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    font-weight: bold;
}

a{
    border-style: solid;
    border-radius: 30px;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    border: none;
    background-color: rgb(152, 206, 70);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}